.my-btn{
  padding: 6px 12px;
  color: #fff;
  background-color: #1b3c58;
  border-color: #1b4061;
  font-size: 14px;
  border: 1px solid transparent;
  border-radius: 4px;
}

.my-btn:hover:enabled, .my-btn:focus {
  color: #fff;
  background-color: #085192;
  border-color: #154774;
}

.my-btn:disabled {
  color: #fff;
  background-color: #4e96d3;
}
