.my-btn{
  padding: 6px 12px;
  color: #fff;
  background-color: var(--main-color);
  border-color: #1b4061;
  font-size: 14px;
  border: 1px solid transparent;
  border-radius: 4px;
}

.my-btn:hover:enabled, .my-btn:focus {
  color: #fff;
  background-color: var(--hover-color);
  border-color: #154774;
  cursor: pointer;
}

.my-btn:disabled {
  color: #fff;
  background-color: var(--disabled-color);
}
