nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  margin-bottom: 1vh;
  overflow: hidden;
  background-color: var(--main-color);
}

nav li {
  float: left;
}

nav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

nav li a:hover {
  background-color: #085192;
}

nav li a:visited {
  color: white;
}

nav img {
  float: left;
  width: 50px;
}
