<p class="text-center">
  <span id="current-year"></span>
  <a href="//github.com/orieuxe"><img height="20px" id="github-logo" src="img/logos/github.png" alt="my github"></a>
  Etienne Orieux
</p>

<script type="text/javascript">
  var currentYear = new Date().getFullYear()
  document.getElementById('current-year').innerText = currentYear
</script>
