<meta charset="UTF-8">
<title data-i18n="title"></title>
<!-- favicon -->
<link rel="shortcut icon" type="png" href="img/logo.png"/>

<!-- CSS -->
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="css/base.css">

<!-- translations -->
<script src="lib/jquery.min.js"></script>
<script src="lib/i18next.min.js"></script>
<script src="lib/i18nextBackend.min.js"></script>
<script src="lib/jquery-i18next.min.js"></script>
