<nav>
  <ul>
    <a href="/"><img src="img/logos/dame-cachee.png" alt=""></a>
    <li><a data-i18n="nav.play" href="live"></a></li>
    <li><a data-i18n="nav.watch" href="list"></a></li>
    <li><a data-i18n="nav.learn" href="rules"></a></li>
    <li class="auth">
      <% if (user) { %>
        <span data-i18n="[prepend]nav.auth.logged_as"> <%= user.username %></span></li>
        <li class="auth"><a data-i18n="nav.auth.logout" href="logout"></a>
      <% } else { %>
        <a data-i18n="nav.auth.login" href="login"></a>
      <% } %>
    </li>
  </ul>
</nav>
