<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
      <div class="navbar-header">
          <img id="logo" src="img/logo.png" alt="logo">
          <ul class="nav navbar-nav">
            <li><a data-i18n="nav.learn" href="/rules"></a></li>
            <li><a data-i18n="nav.live" href="/live"></a></li>
            <li><a data-i18n="nav.watch" href="/list"></a></li>
          </ul>
      </div>
  </div>
</nav>
