<meta charset="UTF-8">
<title data-i18n="title"></title>
<!-- favicon -->
<link rel="shortcut icon" type="png" href="img/logos/dame-cachee.png"/>

<!-- CSS -->
<link rel="stylesheet" type="text/css" href="css/base.css">
<link rel="stylesheet" type="text/css" href="css/navbar.css">
<link rel="stylesheet" type="text/css" href="css/button.css">
<link rel="stylesheet" type="text/css" href="css/box.css">

<!-- translations -->
<script src="lib/jquery.min.js"></script>
<script src="lib/i18next.min.js"></script>
<script src="lib/i18nextBackend.min.js"></script>
<script src="lib/jquery-i18next.min.js"></script>
