<!doctype html>
<html>
  <head>
    <%- include ('../partials/head') %>

    <link rel="stylesheet" type="text/css" href="css/list.css">
    <link rel="stylesheet" type="text/css" href="css/chessboard.min.css">

    <script src="lib/myChessboard.js"></script>

  </head>

  <body>
    <header>
      <%- include ('../partials/header') %>
    </header>

    <div class="game-room" id="game-room-prototype">
      <div class="board"></div>
      <div class="infos">
        <span class="white"></span> vs <span class="black"></span><br>
      </div>
    </div>
    <div id="game-room-list">

    </div>

    <%- include ('../partials/scripts') %>
    <script type="text/javascript">
      var $gameRoomList = $('#game-room-list')
      var $gameRoomPrototype = $('#game-room-prototype')
    </script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="commons/constants.js"></script>
    <script src="commons/GameState.js"></script>
    <script src="js/gameRoomList.js"></script>
  </body>
  <footer>
    <%- include ('../partials/footer') %>
  </footer>
</html>
