<!doctype html>
<html>
  <head>
    <%- include ('../partials/head') %>
    <link rel="stylesheet" type="text/css" href="css/live.css">
    <link rel="stylesheet" type="text/css" href="css/chessboard.min.css">

    <script src="lib/myChessboard.js"></script>
    <script src="lib/myChess.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.js"></script>
  </head>

  <body>
    <header>
      <%- include ('../partials/header') %>
    </header>
    <div class="parent">
      <div id="chat">
        <div id="chat-box">
          <ul id="chat-history"></ul>
        </div>
        <textarea id="chat-input"></textarea>
      </div>

      <div id="main-content">
        <div class="info-box" id="waitingRoom">
          <h2 data-i18n="[prepend]waiting-room.players">
            <button class="my-btn" id="waiting-room-join" data-i18n="waiting-room.join"></button>
            <button class="my-btn" id="waiting-room-leave" data-i18n="waiting-room.leave" hidden></button>
          </h2>
          <div id="playerList">
             <button class="player prototype my-btn" id="player-prototype"></button>
          </div>
        </div>
        <div id="board"></div>
      </div>

      <div id="side-content">
        <div id="opponent">
          <div id="opponent-name"></div>
          <div class="clocks" id="opponent-clock" hidden></div>
        </div>
        <div id="buttons">
          <button class="my-btn" id="rematch-btn" data-i18n="rematch.btn" hidden></button>
          <button class="my-btn" id="draw-btn" data-i18n="draw.btn" hidden></button>
          <button class="my-btn" id="resign-btn" data-i18n="resign.btn" hidden></button>
        </div>
        <div id="player">
          <div class="clocks" id="player-clock" hidden></div>
          <div id="player-name"></div>
        </div>
      </div>
    </div>

    <script type="text/javascript">
      //ejs
      var user
      <% if (user) { %>
         user = <%-JSON.stringify(user)%>;
      <% } %>

      //chat
      var $chat = $('#chat');
      var $chatHistory = $('#chat-history');
      var $chatBox = $('#chat-box');
      var $msgInput = $("#chat-input");

      //main-content
      var $JoinWaitingRoom = $("#waiting-room-join");
      var $LeaveWaitingRoom = $("#waiting-room-leave");
      var $waitingRoom = $("#waitingRoom");
      var $playerList = $("#playerList");
      var $playerPrototype = $("#player-prototype");

      //players
      var $clocks = $('.clocks');
      var $opponentName = $('#opponent-name');
      var $opponentClock = $('#opponent-clock');
      var $playerClock = $('#player-clock');
      var $playerName = $('#player-name');

      //buttons
      var $rematchBtn = $('#rematch-btn');
      var $resingBtn = $('#resign-btn');
      var $drawBtn = $('#draw-btn');
    </script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="commons/GameState.js"></script>
    <script src="js/Chatbox.js"></script>
    <script src="js/AbstractBoard.js"></script>
    <script src="js/SelectHqBoard.js"></script>
    <script src="js/PlayingBoard.js"></script>
    <script src="js/clocks.js"></script>
    <script src="js/client.js"></script>
    <%- include ('../partials/scripts') %>
  </body>
</html>
