<!doctype html>
<html>
  <head>
    <%- include ('../partials/head') %>
  </head>
  <body>
    <header>
      <%- include ('../partials/header') %>
    </header>
    <h5 id="rules"></h5>

    <%- include ('../partials/scripts') %>
    <footer>
      <%- include ('../partials/footer') %>
    </footer>
  </body>

</html>
